@import "../../../../../variables";

.requisites__content {
  p {
    margin-bottom: 15px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  div {
    margin-bottom: 15px;

    p {
      margin-bottom: 0;
    }

    small {
      display: block;
      font-size: 0.7rem;
      font-weight: 700;
      margin-bottom: -5px;
      color: $theme-color-primary
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}
