<div class="requisites">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">О нас</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">Реквизиты</a>
    </div>
  </div>
  <h2 class="title title_mb">
    Реквизиты
  </h2>

  <div class="requisites__content text-content">
    <p><b>Полное наименование:</b> Бюджетное учреждение Орловской области «Архитектурно-планировочное управление
      Орловской области»</p>
    <p><b>Сокращенное наименование:</b> БУ ОО &laquo;Орелархплан&raquo;</p>
    <p><b>Юридический адрес:</b> 302028, обл. Орловская, г. Орёл, б-р Победы, д. 6, офис 63</p>
    <p><b>Основной вид деятельности:</b> Деятельность по созданию и использованию баз данных и информационных ресурсов
      (63.11.1)</p>
    <p><b>Организационно-правовая форма:</b> Государственные бюджетные учреждения субъектов Российской Федерации</p>
    <p class="mb-40"><b>Дата регистрации:</b> 2 октября 2020 года</p>

    <p><b>ИНН:</b> 5753074762</p>
    <p><b>КПП:</b> 575301001</p>
    <p><b>ОГРН:</b> 1205700005389</p>

    <h3>Коды статистики</h3>
    <p><b>ОКПО:</b> 45829948</p>
    <p><b>ОКАТО:</b> 54401369000</p>
    <p><b>ОКТМО:</b> 54701000001</p>
    <div>
      <p><b>ОКФС:</b> 13</p>
      <small>Собственность субъектов Российской Федерации</small>
    </div>
    <div>
      <p><b>ОКОГУ:</b> 2300236</p>
      <small>- архитектуры и строительства</small>
    </div>
    <div class="mb-40">
      <p><b>ОКОПФ:</b> 75203</p>
      <small>Государственные бюджетные учреждения субъектов Российской Федерации</small>
    </div>
    <p><b>Руководитель:</b> Сенюшкин Виктор Владимирович</p>
  </div>
</div>

