<div class="about-us">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link" routerLink="/">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">О нас</a>
    </div>
  </div>
  <h2 class="title title_mb">
    О нас
  </h2>

  <div class="about-us__content text-content">
    <p>
      Бюджетное учреждение Орловской области <b>&laquo;Архитектурно-планировочное управление Орловской
      области&raquo;</b> создано в 2020 году по инициативе Правительства региона. При участии Учреждения оперативно
      реализуются мероприятия в сфере градостроительства, архитектуры, ценообразования и сметного нормирования в области
      градостроительной деятельности.
    </p>
    <p>
      Основной деятельностью нашей организации является проведение кадастровых работ, подготовка межевого и технического
      планов объектов недвижимости, актов обследования, подтверждающих уничтожение объектов недвижимости. Кроме того, мы
      осуществляем действия, связанные с получением сведений, внесенных в Единый государственный реестр недвижимости,
      постановку на государственный кадастровый учет и регистрацию прав собственности.
    </p>
    <p>
      С момента основания Учреждение прошло несколько важных этапов развития и вошла в период динамичного роста.
      Постоянно совершенствуется техническая база, расширяется спектр предоставляемых услуг, растет штат сотрудников.
    </p>
    <p>
      Организация объединяет лучшие кадры – геодезистов, топографов, кадастровых инженеров, выпускников профильных
      институтов, имеющих богатый опыт выполнения высокоточных работ. Ежегодно проводится повышение квалификации
      кадастровых инженеров. Качественному выполнению всех видов работ способствует собственное спутниковое и
      высокотехнологическое геодезическое оборудование, широкоформатные плоттеры и сканеры, современное программное
      обеспечение и офисная техника.
    </p>

    <h3 class="about-us__caption">Какие виды работ предоставляет бюджетное учреждение &laquo;Орелархплан&raquo;?</h3>

    <ul class="items-list">
      <li>Выполнение работ по установлению или изменению границ объектов землеустройства.</li>
      <li>Выполнение инженерно-геодезических изысканий.</li>
      <li>Подготовка проектов планировки территории и проектов межевания территории (ПП+ПМ).</li>
      <li>Подготовка проектов генеральных планов населенных пунктов.</li>
      <li>Подготовка проектов правил землепользования и застройки населенных пунктов.</li>
    </ul>

    <h3 class="about-us__caption">В чем преимущество бюджетного учреждение &laquo;Орелархплан&raquo;?</h3>

    <ul class="items-list">
      <li>Качественное оказание услуг.</li>
      <li>Соблюдение действующего законодательства.</li>
      <li>Выполнение работ в кратчайшие сроки.</li>
      <li>Индивидуальный подход в процессе работы с заказчиками.</li>
      <li>Новейшее геодезическое оборудование, которое является одним из лучших в регионе.</li>
      <li>Только профессиональные специалисты, имеющие высокую квалификацию и большой опыт работы.</li>
      <li>Учреждение работает в интересах граждан, бизнеса и государственных структур.</li>
    </ul>
  </div>
</div>
