@import "../../../../../variables";

.news-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #fff;
  padding: 30px;
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
  border: 1px solid #ebebeb;
  border-radius: 10px;

  &_mb {
    margin-bottom: 30px;
  }

  label {
    margin-bottom: 5px;
    font-weight: 500;
  }

  .file {
    font-size: 0.9rem;
    margin-top: 15px;
  }
}

.btn {
  padding: 10px 35px;
  margin-left: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  input {
    background: rgba(204, 204, 204, 0.44);
    padding: 10px 10px;
    border: 1px solid $theme-color-primary;
  }

  textarea {
    font: inherit;
    background: rgba(204, 204, 204, 0.44);
    padding: 10px 10px;
    border: 1px solid $theme-color-primary;
    height: 100%;
  }
}

.card-content {
  display: flex;
}

.card-content__left {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  margin-right: 30px;

  .image {
    display: flex;
    flex-direction: column;

    img {
      height: 250px;
      object-fit: cover;
    }
  }
}

.preview {
  width: 100%;
}

.invalid {
  input,
  textarea {
    border: 1px solid crimson;
  }
}

.validation {
  small {
    font-size: 0.7rem;
    font-weight: 500;
    color: crimson;
  }
}

.btn-danger {
  margin-top: 30px;
  margin-left: auto;
}
