.title {
  width: 100%;
  line-height: 1.2;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.skeleton-box {
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
  border: 1px solid #ebebeb;
  margin-top: 15px;
  height: 800px;
}
