@import "../../../../../variables";

.feedback-form__form-field {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-bottom: 25px;

  label {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 20px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-radius: 4px;
    font: inherit;
    border: 1px solid #a3a3a3;
    transition: all 0.2s;

    &::-webkit-input-placeholder {
      font: inherit;
    }

    &:focus {
      border: 1px solid $theme-color-primary;
    }
  }

  textarea {
    font: inherit;
    height: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #a3a3a3;

    &::-webkit-input-placeholder {
      font: inherit;
    }

    &:focus {
      border: 1px solid $theme-color-primary;
    }
  }
}

.feedback-form__agree {
  display: flex;
  align-items: center;
  line-height: 1;

  label {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  a {
    color: $theme-color-primary;
  }

  input {
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;

    &:checked + label .checkbox-indicator svg {
      display: block;
    }
  }

  .checkbox-indicator {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #a3a3a3;

    svg {
      fill: #a3a3a3;
      display: none;
      width: 16px;
      height: 16px;
    }
  }
}

.feedback-form__submit {
  width: 250px;
  margin-top: 30px;
}
