<div class="feedback-form">
  <div class="feedback-form__inner">
    <form action="" class="feedback-form__form">
      <div class="feedback-form__form-field">
        <label>Ваше имя</label>
        <input type="text" placeholder="Иван Иванов">
      </div>
      <div class="feedback-form__form-field">
        <label>Ваш телефон</label>
        <input type="text" placeholder="+7 (999) 999-99-99">
      </div>
      <div class="feedback-form__form-field">
        <label>Тема сообщения</label>
        <input type="text" placeholder="Введите тему сообщения">
      </div>
      <div class="feedback-form__form-field">
        <label>Текст сообщения</label>
        <textarea placeholder="Введите текс сообщения"></textarea>
      </div>
      <div class="feedback-form__agree">
        <input type="checkbox" checked id="agreement">
        <label for="agreement">
          <span class="checkbox-indicator">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path
              d="M0 0h24v24H0V0z" fill="none"/><path
              d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>
          </span>
          <span class="text">Я соглашаюсь с <a routerLink="privacy-policy" class="link">политикой конфиденциальности</a></span>
        </label>
      </div>
      <button class="feedback-form__submit btn btn-primary">Отправить</button>
    </form>
  </div>
</div>

