<div class="combating-corruption-documents">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Документы</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">Противодействие коррупции</a>
    </div>
  </div>
  <h2 class="title title_documents">
    Противодействие коррупции
  </h2>
  <p class="combating-corruption-documents__text">Режим функционирования <b>«Телефона доверия»</b> — +7 (4862) 44-35-02<br> Прием звонков: Пн-Пт, с 10.00 до 17.00</p>
  <ul class="documents__list documents__list_col-2">
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Приказ о назначении ответственного лица за профилактику коррупционных и иных правонарушений в учреждении</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Приказ об организации работы по противодействию коррупции</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Приказ о комиссии по соблюдению требований к служебному поведению работников БУ ОО «Орелархплан» и урегулированию конфликта интересов</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Приказ об утверждении Кодекса этики и служебного поведения работников БУ ОО «Орелархплан»</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
