@import '../../../../../variables';

.footer {
  background: $theme-color-dark;
  color: $text-color;
  font-weight: 500;
  font-size: 0.9rem;
}

.footer__container {
  max-width: 1390px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.footer__top {
  border-bottom: 1px solid #39566e;
  padding: 50px 30px;
  display: grid;
  align-items: center;
  gap: 50px;
  grid-template-columns: 45% calc(55% - 50px);

  .footer__link {
    display: flex;
    align-items: center;
    color: $text-color;
    width: max-content;
    transition: all 0.20s;

    .icon {
      max-width: 50px;
      margin-right: 20px;

      &_government {
        position: relative;
        top: -8px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    p {
      max-width: 220px;
    }
  }

  .footer__right {
    display: flex;
    justify-content: space-between;
  }

  .footer__row {
    &_left {
      width: 50%;
      margin-right: 30px;
    }

    &_right {
      width: calc(50% - 30px);
    }
  }
}

.footer__middle {
  padding: 60px 30px;

  .footer__column {
    display: grid;
    gap: 50px;
    grid-template-columns: 45% calc(55% - 50px);
  }

  .footer__row {
    &_description {

    }
  }

  .footer__btn {
    cursor: pointer;
    margin-top: 30px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font: inherit;
    padding: 17px;
    font-size: 1rem;
    font-weight: 600;
    max-width: 470px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.2s;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  max-width: 470px;

  img {
    width: 90px;
    margin-right: 30px;
  }

  h3 {
    max-width: 400px;
    font-weight: 500;
    position: relative;
    top: 10px;
  }
}

.footer__nav {
  margin-bottom: 50px;

  li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #fff;
    padding-bottom: 3px;
    transition: 0.20s;
  }
}

.footer__box {
  display: flex;
  justify-content: space-between;

  .footer__left {
    margin-right: 30px;
    width: 50%;

    p {
      max-width: 320px;
      font-size: 0.8rem;
      opacity: 0.4;
      font-weight: 400;
    }
  }

  .footer__right {
    width: calc(50% - 30px);

    h2 {
      width: max-content;
      font-size: 1.2rem;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 1px solid #39566e;
      margin-bottom: 44px;
    }
  }
}

.footer__contacts {
  font-size: 0.9em;

  li {
    display: flex;
    margin-bottom: 17px;
    align-items: center;
    font-weight: 600;
    transition: all 0.2s;

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      flex: 0 0 20px;
      margin-right: 10px;

      svg {
        width: 20px;
        fill: #fff;
        transition: all 0.2s;
      }
    }

    p {
      max-width: 240px;
    }

    a {
      color: $text-color;
      font: inherit;
      transition: all 0.2s;
      padding-bottom: 3px;
    }
  }

  .address {
    align-items: flex-start;
  }
}

.footer__bottom {
  border-top: 1px solid #39566e;
  padding: 30px 30px;

  .footer__copyright {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.4;
  }
}

.footer__contacts-item {
  a {
    border-bottom: 1px solid transparent;
  }
}

@media (hover: hover) {
  .footer__row {
    .footer__nav {
      a {
        &:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 0.65);
          color: rgba(255, 255, 255, 0.65) !important;
        }
      }
    }
  }

  .footer__contacts-item {
    &:hover {
      .icon {
        svg {
          fill: rgba(255, 255, 255, 0.65) !important;
        }
      }

      a {
        color: rgba(255, 255, 255, 0.65) !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.65);
      }
    }
  }

  .footer__btn {
    &:hover {
      background: #fff !important;
      color: $theme-color-dark !important;
    }
  }
}
