@import '../../../../../variables';

.footer {
  background: #102c43;
  color: $text-color;
  font-weight: 500;
  font-size: 0.9rem;
}

.footer__top {
  border-bottom: 1px solid #39566e;
  padding: 50px 30px;

  .footer__links {
    display: grid;
    gap: 50px;
    grid-template-columns: 45% 55%;
  }

  .footer__link {
    display: flex;
    align-items: center;
  }

  .icon {
    max-width: 50px;
    margin-right: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.footer__middle {
  padding: 60px 30px;

  .footer__column {
    display: grid;
    gap: 50px;
    grid-template-columns: 45% calc(55% - 50px);
  }

  .footer__row {
    &_description {

    }
  }

  .footer__btn {
    cursor: pointer;
    margin-top: 30px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font: inherit;
    padding: 17px;
    font-size: 1rem;
    font-weight: 600;
    max-width: 470px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  max-width: 470px;

  img {
    width: 90px;
    margin-right: 30px;
  }

  h3 {
    max-width: 400px;
    font-weight: 500;
    position: relative;
    top: 10px;
  }
}

.footer__nav {
  margin-bottom: 50px;

  li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #fff;
  }
}

.footer__box {
  display: flex;
  justify-content: space-between;

  .footer__left {
    margin-right: 30px;

    p {
      max-width: 320px;
      font-size: 0.8rem;
      opacity: 0.4;
      font-weight: 400;
    }
  }

  .footer__right {
    h2 {
      width: max-content;
      font-size: 1.2rem;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 1px solid #39566e;
      margin-bottom: 44px;
    }
  }
}

.footer__contacts {
  font-size: 0.9em;

  li {
    display: flex;
    margin-bottom: 17px;
    align-items: center;
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      flex: 0 0 20px;
      margin-right: 10px;

      svg {
        width: 20px;
        fill: #fff;
      }
    }

    p {
      max-width: 240px;
    }
  }

  .address {
    align-items: flex-start;
  }
}

.footer__bottom {
  border-top: 1px solid #39566e;
  padding: 30px 30px;

  .footer__copyright {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.4;
  }
}
