<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__left">
          <div class="footer__row">
            <a class="footer__link"
               href="https://www.gosuslugi.ru/structure/5700000010000112441"
               target="_blank">
              <div class="icon">
                <img src="assets/img/gosuslugi.png" alt="Иконска сайта 'Госуслуги'">
              </div>
              <p>Государственные услуги</p>
            </a>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__row footer__row_left">
            <a href="https://orel-region.ru/"
               class="footer__link"
               target="_blank"
            >
              <div class="icon icon_government">
                <img src="assets/img/svg/coat-of-arms-of-Oryol.svg" alt="Герб Орловской области">
              </div>
              <p>Правительство Орловской области</p>
            </a>
          </div>
          <div class="footer__row footer__row_right">
            <a class="footer__link"
               href="https://www.orel-adm.ru/ru/"
               target="_blank"
            >
              <div class="icon">
                <img src="assets/img/coat-of-arms-of-the-region.png" alt="Герб Орловской области">
              </div>
              <p>Администрация города Орла</p>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__middle">
        <div class="footer__column">
          <div class="footer__row footer__row_description">
            <div class="footer__logo">
              <a routerLink="/">
<!--                <img src="assets/img/svg/coat-of-arms-of-Oryol.svg" alt="Герб Орловской области">-->
                <img src="assets/img/logo-blue.png">
                <h3>Бюджетное учреждение Орловской области «Архитектурно-планировочное управление Орловской
                  области»</h3>
              </a>
            </div>
            <button class="footer__btn">Обратная свзяь</button>
          </div>
          <div class="footer__row footer__row_information">
            <div class="footer__box">
              <div class="footer__left">
                <ul class="footer__nav">
                  <li>
                    <a routerLink="/about-us">О нас</a></li>
                  <li>
                    <a href="#">Деятельность</a>
                  </li>
                  <li>
                    <a routerLink="/services">Услуги</a>
                  </li>
                  <li>
                    <a routerLink="/documents">Документы</a>
                  </li>
                  <li>
                    <a routerLink="/about-us/requisites">Реквизиты</a>
                  </li>
                  <li>
                    <a routerLink="/contacts/phones" href="#">Телефоны</a>
                  </li>
                  <li>
                    <a routerLink="/contacts" href="#">Контакты</a>
                  </li>
                </ul>
                <p>Информационная карта соответствия сайта требованиям Федерального закона от 09.02.2009 №8-ФЗ</p>
              </div>
              <div class="footer__right">
                <h2>Связаться с нами</h2>
                <ul class="footer__contacts">
                  <li class="address">
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                           fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path
                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                      </svg>
                    </span>
                    <p>г. Орёл, 302028, б-р Победы, д. 6, 5 этаж, офис 63</p>
                  </li>
                  <li class="footer__contacts-item">
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                           fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path
                        d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"/>
                      </svg>
                    </span>
                    <a href="tel: +74862443502">+7 (4862) 44-35-02</a>
                  </li>
                  <li class="footer__contacts-item">
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                           fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path
                        d="M12 1.95c-5.52 0-10 4.48-10 10s4.48 10 10 10h5v-2h-5c-4.34 0-8-3.66-8-8s3.66-8 8-8 8 3.66 8 8v1.43c0 .79-.71 1.57-1.5 1.57s-1.5-.78-1.5-1.57v-1.43c0-2.76-2.24-5-5-5s-5 2.24-5 5 2.24 5 5 5c1.38 0 2.64-.56 3.54-1.47.65.89 1.77 1.47 2.96 1.47 1.97 0 3.5-1.6 3.5-3.57v-1.43c0-5.52-4.48-10-10-10zm0 13c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"/>
                      </svg>
                    </span>
                    <a href="mailto: orelarhplan@yandex.ru">orelarhplan@yandex.ru</a>
                  </li>
                  <li>
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                           viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path
                        d="M17,11V3H7v4H3v14h8v-4h2v4h8V11H17z M7,19H5v-2h2V19z M7,15H5v-2h2V15z M7,11H5V9h2V11z M11,15H9v-2h2V15z M11,11H9V9h2 V11z M11,7H9V5h2V7z M15,15h-2v-2h2V15z M15,11h-2V9h2V11z M15,7h-2V5h2V7z M19,19h-2v-2h2V19z M19,15h-2v-2h2V15z"/></g>
                      </svg>
                    </span>
                    <p>Пн-Пт с 08:30 до 17:30</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright">&copy; 2020-{{currentDate | date: 'y'}} БУ ОО «Архитектурно-планировочное
          управление Орловской области»</p>
      </div>
    </div>
  </div>
</footer>
