.main-menu {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  .drop-menu {
    &_documents {
      a {
        font-size: 0.8rem !important;
      }
    }
  }

  .main-menu__item {
    position: relative;
    z-index: 2;
    transition: all 0.2s;

    &_active {
      //background: #495b69;
      background: #3e4e5a;
      transition: all 0.2s;
      //background: #34414b;
    }

    &:hover {
      .drop-menu {
        perspective: 1000px;

        .main-menu__dropdown-item {
          opacity: 0;
          transform-origin: top center;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation-name: topToBottom;
              animation-duration: 400ms;
              animation-delay: (150ms * $i) - 300;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
            }
          }
        }
      }

      .main-menu__dropdown li {
        display: block;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 55px;
      font-weight: 600;
      cursor: unset;
      border-right: none;
      color: #fff;
      text-decoration: none;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      //border-top: 1px solid rgba(0, 0, 0, 0.15);

      &:hover {
        cursor: pointer;
      }
    }

    .main-menu__dropdown {
      position: absolute;
      top: 55px;
      width: 100%;
      z-index: 2;

      .main-menu__dropdown-item {
        display: none;

        a {
          height: 55px;
          border-top: none;
          border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
          font-weight: 500;
          font-size: 0.9rem;
          background: #536878;
          text-align: center;
          transition: all 0.2s;
          line-height: 1.2;
        }
      }
    }
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@media (hover: hover) {
  .main-menu__item {
    position: relative;
    z-index: 2;

    &_active {
      &:hover {
        background: #34414b !important;
      }
    }

    &:hover {
      background: #34414b !important;
    }
  }

  .main-menu__dropdown-item {
    &:hover {
      a {
        background: #34414b !important;
      }
    }
  }
}
