<nav class="navigation">
  <ul class="main-menu">
    <li class="main-menu__item">
      <a routerLink="/" routerLinkActive="main-menu__item_active" [routerLinkActiveOptions]="{ exact: true}">
        <span>Главная</span>
      </a>
    </li>
    <li class="main-menu__item">
      <a routerLink="/about-us" routerLinkActive="main-menu__item_active">
        <span>О нас</span>
      </a>
      <ul class="main-menu__dropdown drop-menu">
        <li class="main-menu__dropdown-item"><a routerLink="/about-us/structure">Структура</a></li>
        <li class="main-menu__dropdown-item"><a routerLink="/about-us/requisites">Реквизиты</a></li>
      </ul>
    </li>
    <li class="main-menu__item">
      <a routerLink="/projects" routerLinkActive="main-menu__item_active">
        <span>Наши проекты</span>
      </a>
    </li>
    <li class="main-menu__item">
      <a routerLink="/services" routerLinkActive="main-menu__item_active">
        <span>Услуги</span>
      </a>
    </li>
    <li class="main-menu__item">
      <a  routerLink="/activity" routerLinkActive="main-menu__item_active">
        <span>Деятельность</span>
      </a>
    </li>
    <li class="main-menu__item">
      <a routerLink="documents/" routerLinkActive="main-menu__item_active">
        <span>Документы</span>
      </a>
      <ul class="main-menu__dropdown drop-menu">
        <li class="main-menu__dropdown-item"><a routerLink="/documents/normative-legal">Нормативно-правовые акты</a></li>
        <li class="main-menu__dropdown-item"><a routerLink="/documents/combating-corruption">Противодействие корупции</a></li>
      </ul>
    </li>
    <li class="main-menu__item">
      <a routerLink="/contacts" routerLinkActive="main-menu__item_active">
        <span>Контакты</span>
      </a>
      <ul class="main-menu__dropdown drop-menu">
        <li class="main-menu__dropdown-item"><a routerLink="/contacts/phones">Телефоны</a></li>
      </ul>
    </li>
  </ul>
</nav>
