<div class="main-container main-container_pad">
  <div class="contacts">
    <div class="breadcrumbs">
      <div class="breadcrumbs__item">
        <a class="breadcrumbs__link" routerLink="/">Главная</a>
      </div>
      <div class="breadcrumbs__separator">/</div>
      <div class="breadcrumbs__item breadcrumbs__item_current">
        <a class="breadcrumbs__link">Контакты</a>
      </div>
    </div>
    <h2 class="title title_mb">
      Контакты
    </h2>

    <div class="contacts__box">
      <p><b>Адрес:</b> Город Орёл, 302028, б-р Победы, д. 6, 5 этаж, офис 63</p>
      <p><b>Телефон:</b> +7 (4862) 44-35-02</p>
      <p><b>E-mail:</b> orelarhplan@yandex.ru</p>
      <p class="contacts__work-time"><b>Режим работы:</b><br>
        <span>
                Пн-Пт: с 08:30 до 17:30<br>
                Сб, Вс: выходные<br>
                Перерыв: 13:00 - 14:00
              </span>
      </p>
    </div>
    <div class="contacts__links">
      <a routerLink="/about-us/requisites">Реквизиты</a>
      <a routerLink="/contacts/phones">Телефоны</a>
    </div>
  </div>
</div>

<arh-map-contacts></arh-map-contacts>
