<div class="news-list">
  <div class="main-container" [class.p-0]="!isStartPage">
    <div class="news-list__inner">
      <div class="breadcrumbs" *ngIf="!isStartPage">
        <div class="breadcrumbs__item">
          <a class="breadcrumbs__link" routerLink="/">Главная</a>
        </div>
        <div class="breadcrumbs__separator">/</div>
        <div class="breadcrumbs__item breadcrumbs__item_current">
          <a class="breadcrumbs__link">Новости</a>
        </div>
      </div>
      <h2 class="news-list__title title title_big">
        <ng-container *ngIf="isStartPage">
          <span>Последние</span> новости
        </ng-container>
        <ng-container *ngIf="!isStartPage">
          Новости
        </ng-container>
      </h2>

      <div *ngIf="!news">
        <div class="skeleton-box skeleton-box_news" *ngFor="let item of [].constructor(6)"></div>
      </div>

      <div class="news-list__box" *ngIf="news">
        <ul class="news-list__listing">
          <li class="news-list__item box-shadow_hover" *ngFor="let newsItem of news"
              [routerLink]="'/news/viewing/' + newsItem.id">
            <div class="news-list__content">
              <div class="news-list__image">
                <img [src]="newsItem.uri">
              </div>
              <div class="news-list__description">
                <h3 class="news-list__caption">
                  {{newsItem.title}}
                </h3>
                <p>
                  {{newsItem.previewText}}
                </p>
              </div>
            </div>
            <div class="news-list__bottom">
              <a href="">
                Читать новость
                <span class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                       fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path
                    d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/>
                  </svg>
                </span>
              </a>
              <div class="news-list__date-block">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#316d9c"><path
                    d="M0 0h24v24H0z" fill="none"/><path
                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path
                    d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
                </span>
                <span class="news-list__date">{{newsItem.date | date: 'dd.MM.Y'}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a class="news-list__button btn btn-primary" routerLink="/news" *ngIf="isStartPage">Смотреть все новости</a>
    </div>
  </div>
</div>
