<div class="feedback">
  <div class="main-container">
    <div class="feedback__inner">
      <div class="feedback__column">
        <div class="feedback__box">
          <h2 class="feedback__title title_big title">У вас остались вопросы?<br> <span>Задайте их нам!</span></h2>
          <p class="feedback__text">Задайте свои вопросы, мы свяжемся с вами,<br> уточним детали и постараемся на них ответить.</p>
          <p class="feedback__number">
            <a href="tel: +74862443502" class="link">+7 (4862) 44-35-02</a>
          </p>
          <p class="feedback__email">
            <a href="mailto: orelarhplan@yandex.ru" class="link">orelarhplan@yandex.ru</a>
          </p>
          <p class="feedback__address">Город Орёл, 302028, б-р Победы, д. 6, 5 этаж, офис 63</p>
        </div>
        <div class="feedback__form">
          <arh-feedback-form></arh-feedback-form>
        </div>
      </div>
    </div>
  </div>
</div>
