@import "../../../../../variables";

.services__title {
  margin-bottom: 70px;

  b {
    font-weight: 900;
  }

  &_mb {
    margin-bottom: 50px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services__item {
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
  text-shadow: 0 7px 6px rgb(129 88 61 / 7%);
  padding: 35px 35px 25px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ebebeb;
  transition: all 0.20s;

  h3 {
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 300px;
    margin-bottom: 30px;
    text-align: right;
    text-transform: uppercase;
  }

  .icon {
    margin-bottom: 25px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      width: 70px;
      height: 70px;

      fill: $theme-color-primary;
    }
  }

  &_engineer {
    .icon {
      img {
        padding: 5px 0;
        width: 70px;
      }
    }
  }
}

.service__bord {
  width: 250px;
  height: 2px;
  background: $theme-color-primary;
  margin-bottom: 25px;
  margin-top: auto;
}

.service__bottom {
  font-weight: 600;
  display: flex;
  align-items: center;

  .arrow {
    position: relative;
    transition: all 0.20s;
    margin-top: 1px;
    svg {
      height: 30px;
      width: 30px;
      margin-left: 8px;
    }
  }
}

.service__button {
  width: 300px;
  margin: 70px auto 50px;
}


@media (hover: hover) {
  .services__item {
    &:hover {
      .service__bottom {
        color: $theme-color-primary;
        .arrow {
          transform: translateX(5px);

          svg {
            fill: $theme-color-primary;
          }
        }
      }
    }
  }
}

.service__note {
  margin-top: 70px;
  background: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
  padding: 30px 35px;
  border-radius: 20px;

  ul {
    padding-left: 16px;

    li {
      margin-bottom: 15px;
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 15px;
    //color: $theme-color-primary;
  }

  p {
    margin-bottom: 15px;
  }
}
