<div class="documents">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link" routerLink="/">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">Документы</a>
    </div>
  </div>
  <h2 class="title title_mb">
    Документы
  </h2>
  <div class="documents__list">
    <div class="documents__item box-shadow_hover">
      <a routerLink="/documents/normative-legal">
        <img src="assets/img/svg/pdf-file.svg" alt="Иконка пдф">
        <h3>Нормативно-правовые документы</h3>
      </a>
    </div>
    <div class="documents__item box-shadow_hover">
      <a routerLink="/documents/combating-corruption">
        <img src="assets/img/svg/pdf-file.svg" alt="Иконка пдф">
        <h3>Противодействие коррупции</h3>
      </a>
    </div>
  </div>
</div>
