<div class="gisogd">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link" routerLink="/">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">ГИСОГД</a>
    </div>
  </div>
  <h2 class="title title_mb">
    ГИСОГД
  </h2>
  <div class="gisogd__list">
    <div class="gisogd__row gisogd__row_3">
      <div class="gisogd__item">
        <h3>Раздел I</h3>
        <p>
          Раздел I. Предусмотренные схемами территориального планирования Российской Федерации карты планируемого
          размещения объектов федерального значения и положения о территориальном планировании применительно к
          территории субъекта Российской Федерации
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел II</h3>
        <p>
          Раздел II. Предусмотренные схемами территориального планирования двух и более субъектов Российской Федерации,
          схемами территориального планирования субъектов Российской Федерации карты планируемого размещения объектов
          регионального значения и положения о территориальном планировании применительно к территории субъекта
          Российской Федерации
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел III</h3>
        <p>
          Раздел III. Предусмотренные схемами территориального планирования муниципальных районов, генеральными планами
          поселений, генеральными планами городских округов карты планируемого размещения соответственно объектов
          местного значения муниципального района, объектов местного значения поселения, объектов местного значения
          городского округа, карты функциональных зон, а также положения о территориальном планировании.
        </p>
      </div>
    </div>
    <div class="gisogd__row gisogd__row_4">
      <div class="gisogd__item">
        <h3>Раздел IV</h3>
        <p>
          Раздел IV. Региональные нормативы градостроительного проектирования
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел V</h3>
        <p>
          Раздел V. Местные нормативы градостроительного проектирования
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел VI</h3>
        <p>
          Раздел VI. Правила землепользования и застройки
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел VII</h3>
        <p>
          Раздел VII. Правила благоустройства территории
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел VIII</h3>
        <p>
          Раздел VII. Основная часть проекта планировки территории
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел IX</h3>
        <p>
          Раздел IX. Основная часть проекта межевания территории
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел X</h3>
        <p>
          Раздел X. Материалы и результаты инженерных изысканий
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XI</h3>
        <p>
          Раздел XI. Сведения о создании искусственного земельного участка
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XII</h3>
        <p>
          Раздел XII. Cведения о границах зон с особыми условиями использования территорий и об их характеристиках, в
          том числе об ограничениях использования земельных участков в границах таких зон
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XIII</h3>
        <p>
          Раздел XIII. Положение об особо охраняемой природной территории, лесохозяйственные регламенты лесничества,
          расположенного на землях лесного фонда
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XIV</h3>
        <p>
          Раздел XIV. План наземных и подземных коммуникаций, на котором отображается информация о местоположении
          существующих и проектируемых сетей инженерно-технического обеспечения, электрических сетей, в том числе на
          основании данных, содержащихся в Едином государственном реестре недвижимости, едином государственном реестре
          заключений
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XV</h3>
        <p>
          Раздел XV. Решения о резервировании земель или решения об изъятии земельных участков для государственных и
          муниципальных нужд
        </p>
      </div>
    </div>


    <div class="gisogd__row gisogd__row_4 mb-0">
      <div class="gisogd__item gisogd__item_col">
        <h3>Раздел XVI</h3>
        <p>
          Раздел XVI. Дела о застроенных или подлежащих застройке земельных участках
        </p>
      </div>
      <div class="gisogd__item">
        <h3>Раздел XVII</h3>
        <p>
          Раздел XVII. Иные сведения, документы, материалы
        </p>
      </div>
    </div>
  </div>
</div>
