<div class="covid">
  <div class="main-container">
    <div class="covid__inner">
      <h2 class="covid__title title title_big"><span>Коронавирус</span> COVID-19</h2>
      <div class="covid__column">
        <div class="covid__illustration">
          <img src="/assets/svg/medical-mask.svg">
        </div>
        <p>
          Более <span>50%</span> сотрудников Бюджетного учреждения Орловской области &laquo;Орелархплан&raquo; имеют прививочные
          сертификаты или документально подтвержденное наличие антител в крови.
        </p>
      </div>
    </div>
  </div>
</div>
