@import "../../../../../variables";

.useful-links__title {
  margin-bottom: 50px;
}

.useful-links__content {
  width: 160px;
  height: 180px;
  background: url("../../../../../assets/img/useful-link-bg.png");
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 20%);
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.20s;

  svg {
    width: 70px;
    height: 70px;
  }
}

.useful-links__caption {
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  height: 50px;
}

.useful-links__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 50px;
}

.useful-links__item {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    pointer-events: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $text-color-dark;
    transition: all 0.20s;
  }

  &_first {
    grid-column-start: 2;
  }

  &_col-2 {
    position: relative;
    left: 105px;
  }
}


@media (hover: hover) {
  .useful-links__item {
    &:hover {
      .useful-links__content {
        box-shadow: 0 15px 50px 0 rgb(0 0 0 / 25%) !important;
      }

      a {
        color: $theme-color-primary;
      }
    }
  }
}

