<div class="structure">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">О нас</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">Структура</a>
    </div>
  </div>
  <h2 class="title title_mb">
    Структура
  </h2>

  <div class="structure__content">
      <ul class="structure__list structure__list_1">
        <li class="structure__item">
          <h3>Дирекция</h3>
          <h4 class="structure__role">Директор бюджетного учреждение Орловской области &laquo;Орелархплан&raquo;</h4>
          <p>Сенюшким Виктор Владимирович</p>
        </li>
      </ul>
      <ul class="structure__list structure__list_2">
        <li class="structure__item">
          <h3>Отдел правового и кадрового обеспечения</h3>
          <h4 class="structure__role">Заместитель директора по правовым вопросам - начальник отдела</h4>
          <p>Кузнецов Евгений Александрович</p>
        </li>
        <li class="structure__item">
          <h3>Отдел бухгалтерского учета, закупок и смет</h3>
          <h4 class="structure__role">Главный бухгалтер - начальник отдела</h4>
          <p>Аристова Юлия Геннадьевна</p>
        </li>
        <li class="structure__item">
          <h3>Отдел землеустройства и кадастровых работ</h3>
          <h4 class="structure__role">Начальник отдела</h4>
          <p>Перелыгин Евгений Владимирович</p>
        </li>
      </ul>
    <ul class="structure__list structure__list_3">
      <li class="structure__item">
        <h3>Отдел информационных технологий и информационной безопасности</h3>
        <h4 class="structure__role">Начальник отдела</h4>
        <p>Журавлев Сергей Васильевич</p>
      </li>
      <li class="structure__item">
        <h3>Отдел геоинформационного обеспечения градостроительной деятельности</h3>
        <h4 class="structure__role">Начальник отдела</h4>
        <p>Мосеева Мария Евгеньевна</p>
      </li>
      <li class="structure__item">
        <h3>Отдел разработки документации по планировке территории</h3>
        <h4 class="structure__role">Начальник отдела</h4>
        <p>Пааташвили Аркадий Эдуардович</p>
      </li>
    </ul>
    <ul class="structure__list structure__list_4">
      <li class="structure__item">
        <h3>Отдел геодезии, картографии и пространственных данных</h3>
        <h4 class="structure__role">Заместитель директора - начальник отдела</h4>
        <p>Семиделихин Сергей Владимирович</p>
      </li>
      <li class="structure__item">
        <h3>Отдел разработки градостроительной документации</h3>
        <h4 class="structure__role">Начальник отдела</h4>
        <p>Рожков Михаил Николаевич</p>
      </li>
    </ul>
    <div class="bord bord-vertical bord-vertical_1"></div>
    <div class="bord bord-vertical bord-vertical_2"></div>
    <div class="bord bord-vertical bord-vertical_3"></div>
    <div class="bord bord-horizontal bord-horizontal_1"></div>
  </div>
</div>

