<div class="normative-legal-documents">
  <div class="breadcrumbs">
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Главная</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item">
      <a class="breadcrumbs__link">Документы</a>
    </div>
    <div class="breadcrumbs__separator">/</div>
    <div class="breadcrumbs__item breadcrumbs__item_current">
      <a class="breadcrumbs__link">Нормативно-правовые документы</a>
    </div>
  </div>
  <h2 class="title title_documents">
    Нормативно-правовые документы
  </h2>
  <div class="normative-legal-documents__top">
    <a class="normative-legal-documents__link"
       href="https://rosreestr.gov.ru/site/ur/litsenzirovanie-geodezicheskoy-i-kartograficheskoy-deyatelnosti/reestr-vydannykh-litsenziy-/"
       target="_blank">Реест выданных лицензий</a>
  </div>
  <ul class="documents__list">
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/img/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Устав бюджетного учреждение Орловской области «Архитектурно-планировочное управление Орловской области»</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/img/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/img/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/img/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Свидетельство о постановке на учет в налоговом органе</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/img/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/img/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/img/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Лицензия на осуществление геодезических и картографических работ № 57-00009Ф от 24 мая 2021 года</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/img/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/img/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
    <li class="documents__item">
      <div class="documents__icon">
        <img src="assets/img/svg/pdf-file.svg">
      </div>
      <div class="documents__bottom">
        <div class="documents__description">
          <h3>Приказ об утверждении Учетной политики для целей бухгалтерского учета и Учетной политики для целей налогообложения</h3>
        </div>
        <div class="documents__links">
          <a href="#" class="documents__link documents__link_viewing">
          <span>
            <img src="assets/img/svg/viewing.svg">
          </span>
            Смотреть
          </a>
          <a href="#" class="documents__link">
          <span>
            <img src="assets/img/svg/download.svg">
          </span>
            Скачать
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
