@import "../../../../../variables";

.activity__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;

  img {
    position: absolute;
    width: 200px;
    bottom: 40px;
    right: 40px;
    transform: rotate(15deg);
  }
}

.activity__title {
  position: absolute;
  top: -370px;
  text-transform: none;
  letter-spacing: 0;

  &_mb {
    margin-bottom: 50px;
  }
}

.activity__row {
  &_two {
    margin-top: -170px;
  }

  &_three {
    margin-top: -340px;
  }
}

.activity__item {
  box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
  text-shadow: 0 7px 6px rgb(129 88 61 / 7%);
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  cursor: pointer;

  &_gisogd {
    min-height: 650px;
  }

  .activity__content {
    max-width: 320px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .activity__bottom {
    margin-top: auto;
    font-weight: 700;
  }

  h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  p {
    font-weight: 500;
    font-size: 0.95rem;
    max-width: 280px;
    line-height: 1.5;
    margin-bottom: 35px;
  }

  .icon {
    width: max-content;
    border: 2px solid #e7ecf3;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 25px;

    svg {
      width: 60px;
      height: 60px;
      fill: $theme-color-primary;
    }
  }

  .arrow {
    transition: all 0.20s;
    margin-top: -2px;
    position: absolute;
    svg {
      height: 30px;
      width: 30px;
      margin-left: 8px;
    }
  }
}

@media (hover: hover) {
  .activity__item {
    &:hover {
      .activity__bottom {
        color: $theme-color-primary;

        .arrow {
          transform: translateX(5px);

          svg {
            fill: $theme-color-primary;
          }
        }
      }
    }
  }
}

.activity_default {
  .activity__title {
    position: relative;
    top: 0;
  }

  .activity__row {
    &_two {
      margin-top: 0;
    }

    &_three {
      margin-top: 0;
    }
  }
}
