$theme-color-primary: #316d9c;
$theme-color-secondary: #20547b;
$theme-color-dark: #102c43;
$theme-color-light: #ffffff;
$theme-color-alt: #FA690F;

$text-color: #ffffff;
$text-color-dark: #2c2c2b;;

$button-primary: linear-gradient(180deg, #FF8500 0%, #FA690F 93.75%);
$button-secondary: linear-gradient(180deg, #0075FF 0%, #274BCA 93.75%);

$main-background: linear-gradient(118.37deg, #3C6ED1 41.65%, #4FABF7 100%);
$secondary-background: #E7EBF0;

$mainFontSize: calc(12px + (16 - 12) * ((100vw - 360px) / (1920 - 360)));

$desktopWidth : 1680px;
$smDesktopWidth : 1140px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 360px;
$smPhoneWidth : 359px;
