// Импортируем ресэт стилей
@import "assets/scss/reset";
@import "variables";

// Импортируем шрифт
@import "assets/fonts/Lab Grotesque/stylesheet.css";

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: "Lab Grotesque", sans-serif !important;
  line-height: 1.4;
  color: #2c2c2b;
  background: #f5f9fa;
}

.main-container {
  max-width: 1330px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  &_pad {
    padding: 50px 30px 80px;
  }
}

.text-content {
  line-height: 1.6;
}

a {
  color: $theme-color-primary;
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font: inherit;
  font-weight: 500;
  border-radius: 16px;
  background-color: #fff;
  color: $theme-color-primary;
  box-shadow: 0 23px 16px rgb(0 36 65 / 20%);
  cursor: pointer;

  &-primary {
    background-color: $theme-color-primary;
    color: $text-color;
  }
}

.title {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 1px;
  width: max-content;

  &_big {
    font-size: 48px;
  }

  &_mb {
    margin-bottom: 40px;
  }

  &_documents {
    margin-bottom: 50px;
  }

  &_services {
    margin-bottom: 20px;
    line-height: 1.2;
  }

  span {
    color: $theme-color-primary;
  }
}

.subtitle {
  display: block;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.documents__description {
  font-size: 0.95rem;
  margin-bottom: 12px;
  max-width: 800px;
  padding-right: 20px;

  h3 {
    font-weight: 500;
  }
}

.documents__icon {
  width: 59px;
  margin-right: 20px;
}

.documents__item {
  display: flex;
  margin-bottom: 30px;
}

.documents__content {
  display: flex;

  .icon {
    flex: 0 0 50px;
    margin-right: 15px;

    img {
      pointer-events: none;
    }
  }
}

.documents__links {
  margin-top: auto;
  display: flex;
  border-top: 1px solid #d0d4d5;
  padding-top: 11px;

  .documents__link {
    display: flex;
    align-items: center;
    line-height: 1;
    color: $theme-color-primary;
    width: 130px;
    font-size: 0.9rem;
    font-weight: 500;

    span {
      display: flex;
      align-items: center;
      flex: 0 0 25px;
      margin-right: 3px;
    }

    &_viewing {
      span {
        margin-right: 8px;
        position: relative;
        top: -1px;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  font-size: 0.9rem;

  &_services {
    margin-bottom: 20px;
  }

  .breadcrumbs__item {
    font-weight: 500;

    &_current {
      .breadcrumbs__link {
        color: $text-color-dark;
      }
    }
  }

  .breadcrumbs__link {
    color: #a5b9ca;
  }

  .breadcrumbs__separator {
    margin: 0 5px;
  }
}

.normative-legal-documents__link {
  display: flex;
  color: $theme-color-primary;
  font-weight: 700;
  padding-bottom: 1px;
  border-bottom: 2px solid $theme-color-primary;
}

.phones__box {

  box-shadow: 0 25px 50px -20px rgb(0 0 0 / 10%);;

  &.phone__item {

      .mat-expansion-panel {
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
      }

  }

  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none !important;
    &.mat-expanded {
      mat-expansion-panel-header {
        background: $theme-color-primary;
      }

      .mat-expansion-panel-header-title {
        color: #fff !important;
      }

      .mat-expansion-indicator {

        &::after {
          color: #fff;
        }
      }
    }
  }

  mat-expansion-panel-header {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0;
    height: auto !important;
    font-family:  inherit !important;

    &:hover {
      background: #f2f2f2;
      transition: 0.15s;
    }

    .mat-expansion-indicator {
      &::after {
        color: $theme-color-primary;
      }
    }
  }

  .mat-expansion-panel-body {
    padding-bottom: 0;
  }
}

.service-bar {
  flex: 400px 0 0;
  padding-top: 30px;
  margin-right: 50px;
  position: sticky;
  top: 0;

  .service-bar__list {
    font-size: 0.95rem;
    box-shadow: 0 25px 50px -21px rgb(0 0 0 / 30%);
    background: #fff;
  }

  .service-bar__item {
    padding: 15px 20px;
    border-bottom: 2px solid #f2f2f2;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.15s;
    cursor: pointer;

    .icon {
      margin-right: 20px;
      svg {
        fill: $theme-color-primary;
        width: 40px;
        height: 40px;
      }
    }

    &:hover {
      background: #f2f2f2;
    }

    &_current {
      background: $theme-color-primary !important;
      color: $text-color !important;
      cursor: default;

      .icon {
        svg {
          fill: $text-color !important;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.current-service__inner {
  display: flex;
  align-items: flex-start;
}

.current-service__content {
  padding-top: 30px;

  b {
    font-weight: 700;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    margin: 30px 0;
  }

  h3 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.items-list  {
  li {
    margin-bottom: 10px;
    padding-left: 24px;
    position: relative;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 16px;
      height: 1px;
      background: $text-color-dark;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
