<arh-start-page></arh-start-page>

<section class="service__section">
  <arh-all-services [allServices]="false"></arh-all-services>
</section>

<section class="area-activity__section">
  <arh-activity-page [isStartPage]="true"></arh-activity-page>
</section>

<section class="news-list__section">
  <arh-news-page [isStartPage]="true"></arh-news-page>
</section>

<section class="covid__section">
  <arh-covid></arh-covid>
</section>

<section class="useful-links">
  <arh-useful-links></arh-useful-links>
</section>

<section class="map-contacts">
  <arh-map-contacts></arh-map-contacts>
</section>

<section class="feedback">
  <arh-feedback></arh-feedback>
</section>


