.service__section {
  margin-bottom: 370px;
}

.area-activity__section {
  margin-bottom: 70px;
}

.covid__section {
  margin-bottom: 120px;
}

.news-list__section {
  margin-bottom: 120px;
}

.useful-links {
  margin-bottom: 100px;
}
