<div class="start-page">
  <div class="main-container">
      <div class="start-page__inner">
        <div class="start-page__box">
          <h2 class="start-page__title">Созидание и развитие качественной городской<br> среды Орловской области</h2>
          <div class="start-page__buttons">
            <button class="btn" routerLink="/about-us">Об организации</button>
            <button class="btn" routerLink="/contacts/phones">Телефоны</button>
          </div>
        </div>
      </div>
  </div>
</div>
